*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
}


@mixin font400{
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;

}

@mixin font600{
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 600;

}
@mixin butcolor{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}
@mixin colorbut{
    border: 1px;
    background: #FF6336;
    color: #FFFFFF;
}
    h2{
    @include font600;
    }
    h4, p, a{
    @include font400;
}

.header {
    display: grid;
    height: 95px;
    border-bottom: 1px solid #CCCCCC;
    grid-template-columns: 232px repeat(2, 1fr);
    align-content: center;
    background: #FFFFFF;
    
    
    .header__logo {
    display: grid;
    justify-content: center;
    align-items: center;
    }
    
    .header__menu {
    display: grid;
    align-items: center;
        
    }
    
    .header__list-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    align-items: center;
    @include font400;
    font-size: 15px;
    line-height: 20px;
    }
    .header__buttons {
        display: grid;
        grid-template-columns: repeat(2, 120px);
        grid-column-gap: 10px;
        justify-content: center;
        height: 45px;
        @include font600;
        font-size: 15px;
        line-height: 45px;

    }
    .header__button {
        @include butcolor;
    }

    .header__button--color {
        @include colorbut;
    }
}

.offer{
    display: flex;
    padding: 150px 0;
    flex-direction: row;
    align-items: center;
    

    .offer__content{
        display: flex;
        margin-left: 5%;
        max-width: 40%;
        flex-direction: column;
        align-items: flex-start

        
        
    }
    .offer__content h2{
        font-size: 65px;
        line-height: 70px;
        
    }
    .offer__content h4{
        font-size: 25px;
        line-height: 35px;
        padding: 30px 0;
    }

    .offer__buttons{
        display: grid;
        grid-template-columns: repeat(2, 160px);
        grid-column-gap: 10px;
        justify-content: center;
        height: 60px;
        @include font600;
        font-size: 16px;
        line-height: 60px;
    }

    .offer__button{
        @include butcolor;
    }
        .offer__button--color{
            @include colorbut;
        }
    .offer__content p{
        font-size: 15px;
        line-height: 25px;
        height: 25px;
        margin: 25px 0;
    } 
    .offer__img{
        position: relative;
        margin-right: 5%;
        max-width: 759px;
        max-height: 529px;
    }

    .offer__img>img {
        
        width: 110%;
        height: auto;
    }
    
}

.companies{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FF9C7D;
    height: 455px;

    .companies__text{
        display: flex;
        justify-content: space-around;
        
        
        
    }

    .companies__text h2{
        height: 120px;
        max-width: 600px;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        
    }
    .companies__list ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.wrapper__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 0;

    .control__content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 491px;
        height: 120px;
        gap: 30px;
    
        h2{
        font-size: 50px;
        line-height: 60px;
        }

        p{
            font-size: 20px;
            line-height: 30px;
        }
        a{
            @include font400; 
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.conteiner{
    display: grid;
    grid-template-rows: 259px 1fr;
    background: #FFF8E4;
    height: 1033px;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        line-height: 60px;
        
    }

    .conteiner__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 331px 335px;

        .conteiner__box{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            justify-content: space-around;
            justify-items: center;
            grid-column-gap: 10px;

            h4{
                display: grid;
                justify-content: space-around;
                align-items: center;
                font-size: 25px;
                line-height: 35px; 
                
            }

            p{
                width: 293px;
                font-size: 18px;
                line-height: 25px; 
                text-align: center;
            
            }  
            u{
                text-decoration: underline;
            }  
        }
    }
}
.boost{
    display: grid;
    grid-template-rows: 259px 1fr;
    height: 1066px;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        line-height: 60px;
        
    }
    .boost__card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 609px;
      
    
        .boost__box{
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            justify-content: space-around;
            justify-items: start;
            align-items: center;

            img{
                height: 221px;
            }

            h4{
                display: grid;
                justify-content: space-around;
                align-items: center;
                font-size: 25px;
                line-height: 35px; 
                
            }

            p{
                max-width: 409px;
                font-size: 20px;
                line-height: 30px; 
            }  
            a{
                font-size: 20px;
                line-height: 30px;
                text-decoration: underline;
            }  
        }
    }
}

.lokalise{
    display: grid;
    grid-template-columns: 73% 1fr;
    grid-template-rows: 468px;
    background: #C9E8F2;

    .lokalise__description{
        display: grid;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
        padding: 100px 0;

        h4{
            max-width: 920px;
            font-size: 30px;
            line-height: 40px;
        }
        p{
            // padding: 18px 0;
            font-size: 15px;
            line-height: 25px;
        }
    }
        .lokalise__photo{
            display: grid;
            align-items: center;
        
            img{
                position: relative;
                width: 90%;
            }
        }
    
}